<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.strobertchs.finalproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".teachers" />
        <activity android:name=".tips" />
        <activity android:name=".maps" />
        <activity android:name=".links" />
        <activity android:name=".clubsteams" />
        <activity android:name=".Axiom" />
        <activity android:name=".examschedule" />
        <activity android:name=".classsites" />
        <activity android:name=".teachers_alshaikh" />
        <activity android:name=".teachers_albi" />
        <activity android:name=".teachers_ashworth" />
        <activity android:name=".teachers_battaglia" />
        <activity android:name=".bianchi" />
        <activity android:name=".teachers_bianchi" />
        <activity android:name=".teachers_boccia" />
        <activity android:name=".teachers_bottiglione" />
        <activity android:name=".teachers_brockest" />
        <activity android:name=".teachers_buchignani" />
        <activity android:name=".teachers_buckley" />
        <activity android:name=".teachers_bumbaca" />
        <activity android:name=".teachers_cappelli" />
        <activity android:name=".teachers_capuccinello" />
        <activity android:name=".teachers_cara" />
        <activity android:name=".teachers_carone" />
        <activity android:name=".teachers_catenaro" />
        <activity android:name=".teachers_chan" />
        <activity android:name=".teachers_chirrey" />
        <activity android:name=".teachers_ciarallo" />
        <activity android:name=".teachers_ciobanu" />
        <activity android:name=".teachers_cisternino" />
        <activity android:name=".teachers_civiero" />
        <activity android:name=".teachers_coda" />
        <activity android:name=".teachers_cooney" />
        <activity android:name=".teachers_covre" />
        <activity android:name=".teachers_cruz" />
        <activity android:name=".teachers_curik" />
        <activity android:name=".teachers_delia" />
        <activity android:name=".teachers_damphouse" />
        <activity android:name=".teachers_degregorio_boichevski" />
        <activity android:name=".teachers_defina" />
        <activity android:name=".teachers_devine" />
        <activity android:name=".teachers_dicarlo" />
        <activity android:name=".teachers_digirolamo" />
        <activity android:name=".teachers_dinunzio" />
        <activity android:name=".teachers_do" />
        <activity android:name=".teachers_durrant" />
        <activity android:name=".teachers_fabroa" />
        <activity android:name=".teachers_facchini" />
        <activity android:name=".teachers_ferrari" />
        <activity android:name=".teachers_galatianos" />
        <activity android:name=".teachers_gallo" />
        <activity android:name=".teachers_gallucci" />
        <activity android:name=".teachers_garofalo" />
        <activity android:name=".teachers_giang" />
        <activity android:name=".teachers_grah" />
        <activity android:name=".teachers_gueli" />
        <activity android:name=".teachers_guerrisi_a" />
        <activity android:name=".teachers_guerrisi_j" />
        <activity android:name=".teachers_gurunlian" />
        <activity android:name=".teachers_hall_j" />
        <activity android:name=".teachers_hall_m" />
        <activity android:name=".teachers_haisuk" />
        <activity android:name=".teachers_holding" />
        <activity android:name=".teachers_hasiuk" />
        <activity android:name=".teachers_hord" />
        <activity android:name=".teachers_jorge" />
        <activity android:name=".teachers_karges" />
        <activity android:name=".teachers_klobucar" />
        <activity android:name=".teachers_koon" />
        <activity android:name=".teachers_kotulski" />
        <activity android:name=".teachers_kurtz" />
        <activity android:name=".teachers_lam" />
        <activity android:name=".teachers_laviolette" />
        <activity android:name=".teachers_lecce" />
        <activity android:name=".teachers_leduc" />
        <activity android:name=".teachers_loffredi" />
        <activity android:name=".teachers_lothian" />
        <activity android:name=".teachers_macdonald" />
        <activity android:name=".teachers_mak" />
        <activity android:name=".teachers_martin" />
        <activity android:name=".teachers_mastrangelo" />
        <activity android:name=".teachers_mastroianni" />
        <activity android:name=".teachers_matchett" />
        <activity android:name=".teachers_mazzacca" />
        <activity android:name=".teachers_mcmahon" />
        <activity android:name=".teachers_meloche" />
        <activity android:name=".teachers_merlin" />
        <activity android:name=".teachers_milucci" />
        <activity android:name=".teachers_molnar" />
        <activity android:name=".teachers_morale" />
        <activity android:name=".teachers_morra" />
        <activity android:name=".teachers_muto" />
        <activity android:name=".teachers_nagybakos" />
        <activity android:name=".teachers_nardi" />
        <activity android:name=".teachers_nelson" />
        <activity android:name=".teachers_nesci" />
        <activity android:name=".teachers_palma" />
        <activity android:name=".teachers_palumbo" />
        <activity android:name=".teachers_parravani" />
        <activity android:name=".teachers_pasquali" />
        <activity android:name=".teachers_pellew" />
        <activity android:name=".teachers_perry" />
        <activity android:name=".teachers_power" />
        <activity android:name=".teachers_pulla" />
        <activity android:name=".teachers_purdon" />
        <activity android:name=".teachers_raczynski" />
        <activity android:name=".teachers_ricupero" />
        <activity android:name=".teachers_roccari" />
        <activity android:name=".teachers_rosalinas" />
        <activity android:name=".teachers_rovere" />
        <activity android:name=".teachers_sarracini" />
        <activity android:name=".teachers_scarcello" />
        <activity android:name=".teachers_schiavone" />
        <activity android:name=".teachers_scugila" />
        <activity android:name=".teachers_sersta" />
        <activity android:name=".teachers_servidio" />
        <activity android:name=".teachers_sgouros" />
        <activity android:name=".teachers_simone" />
        <activity android:name=".teachers_siranni" />
        <activity android:name=".teachers_steele" />
        <activity android:name=".teachers_stilo" />
        <activity android:name=".teachers_sun" />
        <activity android:name=".teachers_thome" />
        <activity android:name=".teachers_torresan" />
        <activity android:name=".teachers_totino" />
        <activity android:name=".teachers_tsui" />
        <activity android:name=".teachers_turrin" />
        <activity android:name=".teachers_u" />
        <activity android:name=".teachers_villani" />
        <activity android:name=".teachers_weeks" />
        <activity android:name=".teachers_wood_r" />
        <activity android:name=".teachers_wood_s" />
        <activity android:name=".teachers_yeghiaian" />
        <activity android:name=".teachers_zasowski" />
        <activity android:name=".teachers_zmak" />
        <activity android:name=".teachers_zucchetto"></activity>
    </application>

</manifest>